.disabledList{
    
        pointer-events:none; 
        opacity:0.6;        
    
}

#todoList{
        border: 10px solid rgb(133, 110, 237);
        border-radius: 1rem;
}

#mainnavbar{
        background: rgb(22, 12, 59);
}